.new-wishlist-book-form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: left;
    
}

.new-wishlist-book-form-container input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;  
}

.new-wishlist-book-form-container input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .new-wishlist-book-form-container input[type=submit]:hover {
    background-color: #45a049;
  }

  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }